<%# 背景 %>
<div class="about-us">
</div>
<%# /背景 %>

<%# メンバー紹介リンク %>
<div class="member-link-lists">
  <div class="member-link">
    各メンバーページ
  </div>
</div>
<%# /メンバー紹介リンク %>

<%# 広告 %>
<div class="footer-cm">
  各広告
</div>
<%# /広告 %>
