<%# ブログ名 %>
<div class="blog-name">
</div>
<%# /ブログ名 %>

<%# カテゴリーリンク %>
<div class="header-category-link-list">
  <div class="header-category-link">
    各カテゴリー
  </div>
</div>
<%# /カテゴリーリンク %>

<%# 検索欄 %>
<div class="header-search">
  検索蘭
</div>
<%# /検索欄 %>