<div class="l-body">
  <%# ヘッダー %>
  <div class="header">
    <%= render "shared/viewer-header"%>
  </div>
  <%# /ヘッダー %>


  <%#= ヘッダー写真(付けるなら) %>
  <%#= ヘッダー写真 %>

  <%# フッター %>
  <div class="footer">
    <%= render "shared/viewer-footer" %>
  </div>
  <%# /フッター %>
</div>