/* ここからheader */
.header {
  height: 200px;
  display: flex;
  background-color: #66CCFF;
  align-items: center;
  justify-content: space-between;
  padding: 0 140px;
}

.blog-name {
}


.header-right {
  width: 70%;
  height:100%;
  display: flex;
  align-items: center;
}

.header-category-links-list {
  color: white;
  list-style: none;
  display: flex;
  margin: 0 0 0 auto;
}

.header-category-link {
  text-decoration: none;
  margin-left: 25px;
}

.header-search {
  color: white;
  text-decoration: none;
  margin: 0 0 0 auto;
}

