<div class="index-article-contents" id="view-second-category" data-num="2">
  <%# if @articles.present? %>
    <%# @articles.each do |article| %>
      <%#= lin_to article_path(article) do %>
        <div class="index-article">
          <div class="index-article-image">
            <%#= image_tag article.image %>
            サムネイル
            <div class="index-article-image-category">
              <%#= article.category.name %>
              <span>カテゴリー名</span>
            </div>                
          </div>
          <div class="index-article-content">
            <div class="index-article-title">
              <%#= article.title %>
              <span>カテゴリー2の記事</span>
            </div>
            <div class="index-article-content-line">
              <%#= article.content %>
              テキストの一部が表示されます
            </div>
          </div>
        </div>
      <%# end %>

      <%# 仮のためあとで消す %>
      <div class="index-article">
        <div class="index-article-image">
          <%#= image_tag article.image %>
          サムネイル
          <div class="index-article-image-category">
            <span>カテゴリー名</span>
          </div>
        </div>
        <div class="index-article-content">
          <div class="index-article-title">
            <%#= article.title %>
            カテゴリー２の記事
          </div>
          <div class="index-article-content-line">
            <%#= article.content %>
            テキストの一部が表示されます。はみ出た部分は表示しない
          </div>
        </div>
      </div>

      <div class="index-article">
        <div class="index-article-image">
          <%#= image_tag article.image %>
          サムネイル
          <div class="index-article-image-category">
            <span>カテゴリー名</span>
          </div>                
        </div>
        <div class="index-article-content">
          <div class="index-article-title">
            <%#= article.title %>
            タイトル3
          </div>
          <div class="index-article-content-line">
            <%#= article.content %>
            テキストの一部が表示されます
          </div>
        </div>
      </div>


      <div class="index-article">
        <div class="index-article-image">
          <%#= image_tag article.image %>
          サムネイル
          <div class="index-article-image-category">
            <span>カテゴリー名</span>
          </div>                
        </div>
        <div class="index-article-content">
          <div class="index-article-title">
            <%#= article.title %>
            タイトル4
          </div>
          <div class="index-article-content-line">
            <%#= article.content %>
            テキストの一部が表示されます
          </div>
        </div>
      </div>            
      <%# /仮のためあとで消す %>

    <%# end %>
  <%# end %>
</div>

<%# 3つめ %>
<div class="index-article-contents" id="view-third-category" data-num="3">
  <%# if @articles.present? %>
    <%# @articles.each do |article| %>
      <div class="index-article">
        <div class="index-article-image">
          <%#= image_tag article.image %>
          サムネイル
          <div class="index-article-image-category">
            <%#= article.category.name %>
            <span>カテゴリー名</span>
          </div>                
        </div>
        <div class="index-article-content">
          <div class="index-article-title">
            <%#= article.title %>
            カテゴリー3の記事
          </div>
          <div class="index-article-content-line">
            <%#= article.content %>
            テキストの一部が表示されます
          </div>
        </div>
      </div>

      <%# 仮のためあとで消す %>
      <div class="index-article">
        <div class="index-article-image">
          <%#= image_tag article.image %>
          サムネイル
          <div class="index-article-image-category">
            <span>カテゴリー名</span>
          </div>
        </div>
        <div class="index-article-content">
          <div class="index-article-title">
            <%#= article.title %>
            カテゴリー3のきじ
          </div>
          <div class="index-article-content-line">
            <%#= article.content %>
            テキストの一部が表示されます。はみ出た部分は表示しない
          </div>
        </div>
      </div>

      <div class="index-article">
        <div class="index-article-image">
          <%#= image_tag article.image %>
          サムネイル
          <div class="index-article-image-category">
            <span>カテゴリー名</span>
          </div>                
        </div>
        <div class="index-article-content">
          <div class="index-article-title">
            <%#= article.title %>
            タイトル3
          </div>
          <div class="index-article-content-line">
            <%#= article.content %>
            テキストの一部が表示されます
          </div>
        </div>
      </div>


      <div class="index-article">
        <div class="index-article-image">
          <%#= image_tag article.image %>
          サムネイル
          <div class="index-article-image-category">
            <span>カテゴリー名</span>
          </div>                
        </div>
        <div class="index-article-content">
          <div class="index-article-title">
            <%#= article.title %>
            タイトル4
          </div>
          <div class="index-article-content-line">
            <%#= article.content %>
            テキストの一部が表示されます
          </div>
        </div>
      </div>            
      <%# /仮のためあとで消す %>

    <%# end %>
  <%# end %>
</div>

<%# /カテゴリ3 %>

<%# 3つめ %>

