<div class="index-article-contents" id="view-second-category" data-num="2">
  <div class="category-indiv-guide">
    テックキャンプ
  </div>
  <div class="article-indiv-box">
    <%= render partial: "shared/article_list", locals: {datas: techcamps} %>
  </div>
</div>

<%# 3つめ %>
<div class="index-article-contents" id="view-third-category" data-num="3">
  <div class="category-indiv-guide">
    転職
  </div>
  <div class="article-indiv-box">
    <%= render partial: "shared/article_list", locals: {datas: jobs} %>
  </div>
</div>

<%# 4つめ %>
<div class="index-article-contents" id="view-forth-category" data-num="4">
  <div class="category-indiv-guide">
    コード
  </div>
  <div class="article-indiv-box">
    <%= render partial: "shared/article_list", locals: {datas: codes} %>
  </div>
</div>

<%# 5つめ %>
<div class="index-article-contents" id="view-fifth-category" data-num="5">
  <div class="category-indiv-guide">
    生活
  </div>
  <div class="article-indiv-box">
    <%= render partial: "shared/article_list", locals: {datas: lives} %>
  </div>
</div>
<%# /カテゴリ3 %>

<%# 3つめ %>

