<%# ブログ説明 %>
  <div class="about-us">
    <div class="blog-name-footer">
      <%= image_tag 'IMG_0396.PNG' ,size: '150x75'%>
    </div>
    <div class="about">
     プログラミング学習スクール『TechCamp』で知り合った３人で、卒業後にチーム開発をしてみた
     <br>的な説明。
    </div>
  </div>
<%# ブログ説明ここまで %>
  
<%# メンバー紹介リンク %>
  <ul class="member-links-list">
    <% @profiles.each do |profile| %> 
    <li class="member-link">
      <%= link_to profile_path(profile.id) do %>
      <div class="member-image">
        <%= image_tag profile.image %>
      </div>
      <div class="member-name">
        <%= profile.master.name %>
      </div>
      <% end %>
    </li>
    <% end %>
  </ul>
<%# /メンバー紹介リンクここまで %>
  
<%# 広告 %>
  <div class="footer-cm">
    各広告
  </div>
<%# /広告 %>