  <!-- <%# 背景 %> -->
  <div class="about-us">
    <div class="blog-name-footer">
      Pulpuntech
    </div>
    <div class="about">
     このブログの紹介
    </div>
  </div>
  <!-- <%# /背景 %> -->
  
  <!-- <%# メンバー紹介リンク %> -->
  <!-- ・member-imageは丸のimageにしたい・linkにして個々の紹介ページする？ -->
  <ul class="member-links-list">
    <%= @profile.each do |profile| %>
      <%= link_to profiles_path(profile.id) do %>
      <li class="member-link">
        <div class="member-image">アイコン</div>
        <div class="member-introduce"><%= profile.information %></div>
      </li>
      <% end %>
    <% end %>
  </ul>
  <!-- <%# /メンバー紹介リンク %> -->
  
  <!-- <%# 広告 %> -->
  <div class="footer-cm">
    各広告
  </div>
  <!-- <%# /広告 %> -->
</div>