  <!-- <%# 背景 %> -->
  <div class="about-us">
    <div class="blog-name-footer">
      Pulpuntech
    </div>
    <div class="about">
     このブログの紹介
    </div>
  </div>
  <!-- <%# /背景 %> -->
  
  <!-- <%# メンバー紹介リンク %> -->
  <!-- ・member-imageは丸のimageにしたい・linkにして個々の紹介ページする？ -->
  <ul class="member-links-list">
    <%# <%= @master.each do |master| %> 
    <li class="member-link">
      <%# <%= link_to masterのshowページ do %>
      <div class="member-image">しょうじ</div><div class="member-introduce">簡単な説明</div>
    </li>
    <li class="member-link"><div class="member-image">ますだ</div><div class="member-introduce"></div></li>
    <li class="member-link"><div class="member-image">みずたに</div><div class="member-introduce"></div></li>
  </ul>
  <!-- <%# /メンバー紹介リンク %> -->
  
  <!-- <%# 広告 %> -->
  <div class="footer-cm">
    各広告
  </div>
  <!-- <%# /広告 %> -->
</div>