.article-show {
  display: flex;
  justify-content: center;
}
.article-main {
  width: 55vw;
  background-color: white;
  /* border: 3px solid skyblue; */
  margin:100px 50px 3px 3px;
  justify-content: center;
  position: relative;
}

.articles-tags-list {
  list-style: none;
  display:flex;
  padding:0px;
  margin:0px;
}

.article-tag {
  font-size: 15px;
}

.article-head {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid lightgray;
  margin: 7px;
}

.article-title {
  font-size:45px;
}

.article-head-right {
}

.article-writer {
  font-size: 25px;
}

.article-date{
  font-size: 20px;
}

.article-image {
  margin:15px auto;
  border:2px solid skyblue;
  width:600px;
  height:315px;
}
.article_img {
  max-width: 100%;
}

.table-content {
  background: rgba(220,220,220,0.4);
  border-radius:30px;
  margin:30px auto;
  padding: 30px;
  width:500px;
  border:2px solid skyblue;
}

.article-content {
  margin:30px auto;
  width:600px;
  border:2px solid skyblue;
}


/* ここはサイドバー */
.article-side-bar {
  width: 25vw;
  border:3px solid skyblue;
  background-color: white;
  margin: 100px 3px 3px 7px;
}