<h1>Masters Tops index</h1>


<ul>
  <li><%= link_to '記事新規投稿', new_masters_article_path %></li>
  <li><%= link_to '記事一覧', masters_articles_path %></li>
  <li><%= link_to 'プロフィール一覧', masters_profiles_path %></li>
  <li><%= link_to 'ログアウト', destroy_master_session_path,method: :delete %></li>
</ul>