<div class="l-body">
  <%# ヘッダー %>
  <div class="header">
    <%= render "shared/viewer-header"%>
  </div>
  <%# /ヘッダー %>

  <%#= ヘッダー写真(付けるなら) %>
  <%#= ヘッダー写真 %>

  <%# メイン %>
  <div class="home-moain">

    <%# カテゴリーリンク欄 %>
    <div class="main-category-link-list">
      <div class="main-category-link">
        各カテゴリー
      </div>
    </div>
    <%# カテゴリーリンク欄 %>

    <%# 記事一覧 %>
    <div class="index-article-contents-list">
      <div class="index-article-contents">
        各記事
      </div>
    </div>
    <%# /記事一覧 %>

    <%# ページネーション %>
    <div class="pagenation">
      ページネーション
    </div>
    <%# /ページネーション %>
  </div>
  <%# /メイン %>

  <%# フッター %>
  <div class="footer">
    <%= render "shared/viewer-footer" %>
  </div>
  <%# /フッター %>
</div>